
.text{
    color: white;
    font-family: 'Poppins';
    font-size: 52px;
  }

.textM{
    color: white;
    font-family: 'Poppins';
    font-size: 50px;
}
/* .textA{
    color: white;
    font-family: 'Poppins;
    font-size: 40px
}
.textLOne{
    color: white;
    font-family: 'Poppins;
    font-size: 28px;
}

.textLTwo{
    color: white;
    font-family: 'Poppins;
    font-size: 16px
}
.textE{
    color: white;
    font-family: 'Poppins;
    font-size: 8px;
}
.textR{
    color: white;
    font-family: 'Poppins;
    font-size: 8px
} */
.background {
    background-color: black;

}
.slider:hover {
    color: #2e8b57;
}

.textLarge{
    color: white;
    font-family: 'Poppins';
    font-weight: 500;
    letter-spacing: 4px;
    font-size: 100px;
    
  }

.holder1 {
    color: white;
    font-family: 'Poppins';
    font-size: '30px';
}

.holder2 {
    color: white;
    font-family: 'Poppins';
    font-size: '30px';
    width: 800px;
    font-weight: 300;
}